html {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 1.15;
    width: 100%;
}
#PAGE {
    display: block;
    width: 80%;

}
.centred {text-align: center;}

.styleBody {
    background: #e8e8e84d;
    width: 100%;
   padding-left: 10%;
   padding-right: 10%;
}

#clearButton {
    margin-top: 10px;
    background: e6eeee;
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 10px;
    }

#pageMenu {
        margin-top:50px;
    }

#Loaderbuttons {
    width:60%;
    margin:10px auto 5px;
    display: block;
    text-align: center;
    left: auto;
    right: 0;
}


#loaderButton{
    border-radius: 4px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    padding: 8px 16px;
background-color: #3498db;
border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
    margin: 3px;
    padding: 4px 12px;
    }
    
    #loaderButton:hover {
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }



textarea {
    width: 100%;
    height: 40px;
        
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: field;
        margin: 0em;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        border-radius: 0;
        border: 1px solid rgba(0,0,0,.08);
        box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    }

#pdf-main-container {
        width: 100%;
    }
    
#pdf-canvas {
        width: 100%;
    }

#pdf-contents {
        width: 100%;
    }

.header {
    padding-left: 2%;
    position: fixed;
        left: 0;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
       }

#search {
    padding-top: 15px;
        float: right;
            text-align: center;
            padding-left: 10px;
        }

#search_engine {
    width: 100%;
    font-size: 20px;
}

.logo {
    z-index: 2;

}

#alltxtbox {
    padding-top: 100px;
    width: 100%;
}